/*
 *= require_tree .
 * require chessboardjs/chessboard-0.3.0
 *= require chesstempojs/board-min
 *= require jquery-ui/core
 *= require_self
 */

.splash-page{
  
//  background-image: url("http://anguscarroll.files.wordpress.com/2010/06/chess-cover-image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hid{
  display: none;
}

.filter{
  display: inline-block;
  width:20%;

}

.alert-login-reg-width {
  width: 80%
}

.error-msg {
  color: red;
  display: inline;
}

.field_with_errors {

  input {
    border: 1px solid red;
    display: inline;

  }
}

.login-reg-form-input-width {
  width: 80%;
}

.login-reg-header {
  padding-bottom: 1%;
  p{
    margin-left:2%;
  }
}

.login-reg-footer {
  padding-top: 3%;

}

.top-pad-5 {
  padding-top: 5%;
}

.top-pad-1 {
  padding-top: 1%;
}

.panel {
  display: none;

  max-height: 695px;
  overflow: scroll;
  h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  }
}

table {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
//  text-align: center;
//  border-radius: 20px;

  th {
//    text-align: center;

    font-size: 24px;
  }

  td{
    color: #66666A;

    font-size: 20px;
  }
}

.save-flash{
  display: none;
  color:green;

}

.glyphicon-remove{
  color: darkred;
}

