/*
 *= require_tree .
 *= require_self
 */

.flash{
  margin-left: 35%;


}



.notice{
  color: green;
  display: inline;
}

.alert{

  width:40%
}

.error-msg{
  color: red;
  display: inline;
}

.field_with_errors{
//  display: inline;
}
.field_with_errors input{
  border: 1px solid red;
  display: inline;

}

.form-control {
  width: 90%;

}

//.reg-form {
//  margin-left: 35%;
//  margin-top: 5%;
//}

.login-form{
  margin-left: 35%;
  margin-top: 5%;
}

.login-reg-header{

  padding-bottom: 1%;
}

.login-reg-footer{
  padding-top: 1%;
}